---
page_title: "{{.Name}} Resource - {{.ProviderShortName}}"
subcategory: "Auto Scaling"
description: |-
  {{ .Description | trimspace }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile (printf "examples/resources/%s/resource.tf" .Name) }}

{{ .SchemaMarkdown | trimspace }}
