---
page_title: "{{.Name}} Data Source - {{.ProviderShortName}}"
subcategory: "Compute"
description: |-
  {{ .Description | trimspace }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile (printf "examples/data-sources/%s/data-source.tf" .Name) }}

{{ .SchemaMarkdown | trimspace }}
